<h1><%= @project.title %></h1>

<% if @project.user %>
  <p>By: <%= @project.user.first_name %> <%= @project.user.last_name  %></p>
<% end %>
<%= image_tag @project.photo.url.to_s %>

<p><%= @project.description %></p>
<p>Goal: <%= number_to_currency(@project.goal) %></p>
<p>Raised so far: <%= number_to_currency(@project.pledges.sum(:dollar_amount)) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>
<p>Days Left Until Deadline: <%= @days %> </p>
<!-- format -->
<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>
  <p><%= reward.title %></p>
  <p><%= reward.pledges.length %> claimed so far! </p>
  <p><%= number_to_currency(reward.dollar_amount) %></p>
  <p><%= reward.description %></p>

  <%= form_for [reward, reward.pledges.new] do |f| %>
    <%= f.number_field :dollar_amount, value: reward.dollar_amount, step: 0.01 %>
    <%= f.submit "Pledge" %>
  <% end %>

<% end %>
